a.button {
  background: #FFFCFC;
  border: 1px solid #9E4242;
  font-size: 12px;
  color: #9E2727;
  letter-spacing: 0.43px;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  padding: 14px 30px;
  &:hover {
    background: darken(#FFFCFC, 4%);
  }
}