nav ul.menu {
  margin: 0;
  display: flex;
  ul.menu {
    display: block;
  }
}

.region-navigation {
  flex-grow: 1;
  display: none;
  @media all and (min-width: 769px) {
    display: flex;
  }
}

.region-navigation .block-menu {
  flex-wrap: nowrap;
  > ul.menu {
    @extend %layout-container;
    justify-content: flex-end;
    gap: 30px;
    li {
      position: relative;
      padding-bottom: 12px;
      top: 6px;
      a {
        color: $text-color;
        font-weight: bold;
        text-decoration: none;
        &:hover, &.active, &.active-trail {
          text-decoration: underline;
        }
      }
    }
  }
  .menu-item--collapsed {
    list-style-image: none;
    list-style-type: none;
  }
}

ul.menu li.menu-item--expanded {
  list-style: none;
  list-style-image: none;
  list-style-type: none;
}

//dropdowns
#block-however-main-menu > ul.menu > li.menu-item--expanded > ul {
  display: none;
  position: absolute;
  background: #ffffff;
  z-index: 1000;
  left: -50px;
  top: 22px;
  margin: 0;
  width: 200px;
  @include box-shadow();
  padding: 28px;
  box-sizing: border-box;
  &:before {
    //content: '';
    //display: block;
    //width: 0;
    //height: 0;
    //border-width: 0 6px 10.4px 6px;
    //border-color: transparent transparent #FFFFFF transparent;
    //border-style: solid;
    //position: absolute;
    //top: -10px;
    //left: 48%;
    //right: 48%;
  }
  li a {
    text-decoration: none;
    margin-bottom: 8px;
    display: inline-block;
    &:hover {
      text-decoration: underline;
    }
  }
}

#block-however-main-menu > ul.menu > li.menu-item--expanded:hover > ul {
  display: block;
}

#page-footer .block-menu ul.menu {
  gap: 32px;
  margin: 0;
  padding: 0;
  li {
    margin: 0;
    padding: 0;
  }
  li a {
    color: $text-color;
    font-weight: bold;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.mobile-menu-icon {
  @media all and (min-width: 769px) {
    display: none;
  }
}

#mobile-navigation {
  display: none;
  background: #ffffff;
  padding: 54px 18px;
  text-align: center;
  &.active {
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .close-modal {
    position: absolute;
    top: 12px;
    right: 12px;
  }
}

#mobile-navigation #block-mainnavigation > ul.menu {
  display: block;
  text-align: center;
  > li {
    margin-bottom: 24px;
    &.menu-item--collapsed {
      list-style-type: none !important;
      list-style-image: none !important;
    }
    > a {
      color: $text-color;
      font-size: 24px;
      font-weight: 900;
      text-decoration: none;
    }
  }
}