.article {
  &__meta .issue-meta {
    border-top: 1px solid #919191;
    border-bottom: 1px solid #919191;
    display: flex;
    gap: 12px;
    padding: 8px 0;
    margin: 18px 0;
    > div:not(:last-of-type)::after {
      content: '';
      height: 10px;
      width: 10px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      margin-left: 12px;
    }
  }
}

.node--view-mode-search-result {
  margin-bottom: 54px;
  h2 {
    margin-bottom: 8px;
  }
  .article__meta .issue-meta {
    border: none;
    padding: 0;
    margin-top: 0;
  }
  .field--name-field-person {
    &:before {
      content: 'by';
      font-style: italic;
      margin-right: 4px;
    }
  }
}

.node--view-mode-teaser-card {
  @extend %card;
  > h2 {
    font-size: 16px;
    border-bottom: 1px solid #979797;
    padding-bottom: 12px;
    text-align: center;
    a {
      color: $text-color;
    }
  }
  .field--name-field-image-caption {
    text-align: center;
    margin-top: -12px;
  }
}