.node {
  .issue-meta {
    display: flex;
    margin: 18px 0;
    font-weight: 700;
    justify-content: space-between;
    flex-wrap: wrap;
    .left {
      display: flex;
      gap: 12px;
      flex-wrap: wrap;
      > div:not(:last-of-type)::after {
        content: '';
        height: 10px;
        width: 10px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        margin-left: 12px;
      }
    }
    .right {

    }
    a {
      color: $text-color;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &.node--view-mode-full > .issue-meta {
    border-top: 1px solid #919191;
    border-bottom: 1px solid #919191;
    padding: 18px 0;
    margin: 54px 0 62px 0 !important;
  }
}

.node--view-mode-search-result {
  margin-bottom: 54px;
  h2 {
    margin-bottom: 8px;
  }
  .article__meta .issue-meta {
    border: none;
    padding: 0;
    margin-top: 0;
  }
  .field--name-field-person {
    &:before {
      content: 'by';
      font-style: italic;
      margin-right: 4px;
    }
  }
}

.node--view-mode-teaser-card {
  @extend %card;
  > h2 {
    font-size: 16px;
    border-bottom: 1px solid #979797;
    padding-bottom: 12px;
    text-align: center;
    a {
      color: $text-color;
    }
  }
  .field--name-field-image-caption {
    text-align: center;
    margin-top: -12px;
  }
  .field--name-field-subtitle {
    text-align: center;
  }
}

.node--view-mode-cross-post-teaser-card {
  padding: 0;
  text-align: center;
  > .image-top {
    position: relative;
    min-height: 24px;
    .content-type {
      position: absolute;
      left: 0;
      top: 0;
      background: #171717;
      color: #ffffff;
      padding: 2px 12px;
      border-radius: 0 0 4px 0;
      font-size: 12px;
      font-weight: bold;
      line-height: 1;
    }
    .volume-issue {
      position: absolute;
      right: 10px;
      bottom: -24px;
      background: #171717;
      color: #ffffff;
      line-height: 1;
      font-size: 14px;
      padding: 12px;
      border-radius: 28px;
    }
    img {
      display: inline-block;
    }
    .field--name-field-caption {
      display: none;
    }
  }
  > .content {
    padding: 8px 24px 36px 24px;
    .journal-logo img {
      display: inline-block;
    }
    .pub-date {
      font-size: 12px;
    }
    h3 {
      margin: 10px;
      line-height: 1.125;
    }
    h3 a {
      color: $text-color;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.issue-top-content {
  @media all and (min-width: 960px) {
    display: flex;
    justify-content: center;
    gap: 36px;
    align-items: center;
    max-width: 92%;
    margin: 0 auto;
    .image {
      width: 25%;
    }
    .issue-title-meta {
      width: calc(75% - 36px);
    }
  }
}

.node--type-how2-issue.node--view-mode-teaser {
  @extend %card;
}

.node--type-how2-issue.node--view-mode-full {
  #masthead {
    display: none;
  }
}

.node--type-how2-volume {
  .field--name-field-archive-url {
    margin-bottom: 2em;
    text-align: center;
  }
  .field--name-field-how2-issue {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    > .field__item {
      min-width: 280px;
    }
    > .field__item > article {
      height: 100%;
    }
    @media all and (min-width: 480px) {
      flex-direction: row;
      > .field__item {
        width: calc(50% - 30px);
      }
    }
    @media all and (min-width: 768px) {
      > .field__item {
        width: calc(33% - 30px);
      }
    }
    @media all and (min-width: 1024px) {
      > .field__item {
        width: calc(25% - 30px);
      }
    }
  }
}

.node--type-how2-issue.node--view-mode-teaser {
  padding: 0;
  .field--name-field-cover-thumbnail {
    background: $yellow-lightest;
    text-align: center;
    aspect-ratio: 1 / 1;
    img {
      object-fit: cover;
      object-position: center center;
      height: 100%;
      margin-bottom: -4px;
    }
  }
  .node__content {
    padding: 32px 24px;
    text-align: center;
    position: relative;
  }
  .field--name-field-issue-number {
    display: inline-block;
    background: #2E2E2E;
    font-size: 48px;
    color: #ffffff;
    font-weight: 700;
    border-radius: 30px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    position: absolute;
    top: -38px;
    left: 40%;
    right: 40%;
  }
  .issue-meta {
    justify-content: center;
    font-weight: normal;
  }
  h2 {
    font-size: 18px;
    margin-bottom: 0;
    a {
      color: $text-color;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.node--type-how2-section.node--view-mode-full {
  .node__content {
    max-width: 748px;
    margin: 0 auto;
  }
  .field--name-field-image-caption {
    float: right;
    width: 40%;
    max-width: 300px;
    margin: 0 0 24px 48px;
  }
  > .node__content > .field--name-field-how2-piece {
    margin-bottom: 54px;
    > .field__item {
      margin-bottom: 22px;
    }
  }
}

.node--type-how2-section.node--view-mode-teaser {
  .section-title a {
    font-weight: bold;
    color: $text-color;
  }
  .node--type-how2-section.node--view-mode-full .field--name-field-how2-piece > .field__item {
    line-height: 1.8;
    margin: 0 0 0.4em 0;
  }
}

.node--type-how2-article {
  .view-article-section {
    text-align: center;
  }
  .node__content {
    max-width: 748px;
    margin: 0 auto;
  }
  .field--name-body {
    font-family: $serif-font;
    p {
      line-height: 1.8;
    }
  }
}


