#views-exposed-form-search-results-page-1 {
  margin-left: 16px;
  .form--inline {
    display: flex;
    align-items: center;
    .form-item {
      margin: 0;
    }
  }
  .form-type-textfield {
    label {
      display: none;
      visibility: hidden;
    }
  }
  input.form-submit {
    border: none;
    background-color: none;
    appearance: none;
    text-indent: -1000em;
    width: 36px;
    height: 36px;
    background-position: center center;
    background-size: cover;
    background-color: transparent;
    position: relative;
    left: 4px;
    @include background-svg('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg>');
  }
}

.block-facets {
  margin-bottom: 16px;
}

.block-facets > h2 {
  font-size: 16px;
  margin: 0 0 6px 0;
}

.facets-widget-links ul {
  padding: 0;
  margin: 0 0 6px 0;
  list-style-position: inside;
}
.facets-widget-links li.facet-item {
  a {
    color: $text-color;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.view-search-results .views-row:first-of-type article h2 {
  margin-top: 0;
}