@charset "UTF-8";
body {
  font-family: sans-serif;
  font-weight: 400;
  color: #141414;
  font-size: 16px;
}

h1 {
  font-size: 22px;
  font-weight: 700;
}
@media all and (min-width: 768px) {
  h1 {
    font-size: 30px;
  }
}
@media all and (min-width: 1024px) {
  h1 {
    font-size: 36px;
  }
}

h1.page-banner {
  font-size: 54px;
  font-weight: 900;
}

h2 {
  font-size: 18px;
  font-weight: 700;
}
@media all and (min-width: 768px) {
  h2 {
    font-size: 20px;
  }
}
@media all and (min-width: 1024px) {
  h2 {
    font-size: 24px;
  }
}

.block-layout-builder > h2 {
  font-size: 22px;
  color: #11294D;
  margin: 0 0 0.5em 0;
}
@media all and (min-width: 768px) {
  .block-layout-builder > h2 {
    font-size: 30px;
  }
}
@media all and (min-width: 1024px) {
  .block-layout-builder > h2 {
    font-size: 36px;
  }
}

h3 {
  font-weight: 700;
  font-size: 18px;
}

h4 {
  font-size: 14px;
  font-weight: 900;
}

a, a:link, a:visited, a:focus {
  color: #092C74;
}
a:hover, a:link:hover, a:visited:hover, a:focus:hover {
  text-decoration: underline;
}

p {
  line-height: 1.4;
}

.full-width, .region-navigation .block-menu, .star-pattern-background {
  width: 100vw;
  position: relative;
  margin-left: -50vw !important;
  left: 50%;
}

.star-pattern-background {
  background: url("/themes/custom/ufl/assets/images/star-pattern--yellow.png");
  background-size: 132px;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

a.more, .node--type-download-streaming-service.node--view-mode-teaser-card .more > a {
  font-size: 14px;
  font-weight: 700;
  color: #092C74;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
}
a.more:after, .node--type-download-streaming-service.node--view-mode-teaser-card .more > a:after {
  content: "⇨";
  display: inline-block;
  margin-left: 8px;
  font-size: 18px;
  position: absolute;
  top: -6px;
}
a.more:hover, .node--type-download-streaming-service.node--view-mode-teaser-card .more > a:hover {
  text-decoration: underline;
}

.clearfix::after, .node--type-download-streaming-service.node--view-mode-teaser-card .field--name-field-resource-category a::after {
  content: "";
  clear: both;
  display: table;
}

* {
  box-sizing: border-box;
}

.path-frontpage h1.page-title {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

#page-main {
  margin-top: 12px;
  margin-bottom: 22px;
}
@media all and (min-width: 768px) {
  #page-main {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}

.has-banner #page-main {
  margin-top: 24px;
}

.path-frontpage #page-main {
  margin-bottom: 0;
}

.layout {
  margin-bottom: 24px;
}
@media all and (min-width: 768px) {
  .layout {
    margin-bottom: 54px;
  }
}
.layout:last-of-type {
  margin-bottom: 0;
}

.layout:last-of-type {
  margin-bottom: 0;
}

.has-sidebar .layout-sidebar-second {
  margin-top: 42px;
}
@media all and (min-width: 768px) {
  .has-sidebar .layout-content {
    float: left;
    width: 66.666666666%;
  }
  .has-sidebar .layout-sidebar-second {
    float: left;
    width: 33.33333333%;
    padding-left: 60px;
    margin-top: 0;
  }
}

@media screen and (min-width: 40em) {
  .layout--twocol-section .layout__region {
    box-sizing: border-box;
  }
  .layout--twocol-section .layout__region--first {
    padding-right: 30px;
  }
  .layout--twocol-section .layout__region--second {
    padding-left: 30px;
  }
}
.layout--onecol.card-grid .layout__region,
.path-frontpage .layout.card-grid .layout__region--first,
.has-sidebar .layout--onecol.card-grid .layout__region {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 6px;
}
.layout--onecol.card-grid .layout__region .block,
.path-frontpage .layout.card-grid .layout__region--first .block,
.has-sidebar .layout--onecol.card-grid .layout__region .block {
  width: 100%;
}
@media all and (min-width: 480px) {
  .layout--onecol.card-grid .layout__region,
.path-frontpage .layout.card-grid .layout__region--first,
.has-sidebar .layout--onecol.card-grid .layout__region {
    flex-direction: row;
    gap: 30px;
  }
  .layout--onecol.card-grid .layout__region .block,
.path-frontpage .layout.card-grid .layout__region--first .block,
.has-sidebar .layout--onecol.card-grid .layout__region .block {
    width: calc(33.333333% - 15px);
  }
}

@media all and (min-width: 480px) {
  .path-frontpage .layout.card-grid .layout__region--first .block,
.has-sidebar .layout--onecol.card-grid .layout__region .block {
    width: calc(50% - 15px);
  }
}

.layout-container, .region-navigation .block-menu > ul.menu {
  width: 94%;
  margin: 0 auto;
  max-width: 1252px;
}

@media all and (min-width: 960px) {
  .layout-container, .region-navigation .block-menu > ul.menu {
    width: 96%;
  }
}
body {
  background-color: transparent !important;
}

.main-content-wrapper {
  position: relative;
}

.block-card, .card, .node--view-mode-teaser-card {
  padding: 48px 28px;
  border: 1px solid #515151;
  border-radius: 4px;
  box-sizing: border-box;
}
.block-card h2, .card h2, .node--view-mode-teaser-card h2 {
  font-size: 24px;
}

input[type=text],
input[type=password],
input[type=search],
input[type=address],
input[type=email],
input[type=url],
input[type=tel] {
  height: 34px;
  border: 1px solid #444444;
  padding: 0 16px;
  color: #141414;
  box-sizing: border-box;
}
input[type=text]::placeholder,
input[type=password]::placeholder,
input[type=search]::placeholder,
input[type=address]::placeholder,
input[type=email]::placeholder,
input[type=url]::placeholder,
input[type=tel]::placeholder {
  color: #141414;
}

.webform-submission-form .form-item {
  margin-bottom: 6px;
}

.form-item > label {
  display: block;
  font-weight: 700;
}

#page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 54px;
  padding: 20px 0;
}

img {
  max-width: 100%;
  height: auto;
}

nav ul.menu {
  margin: 0;
  display: flex;
}
nav ul.menu ul.menu {
  display: block;
}

.region-navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.region-navigation .block-menu {
  justify-content: center;
  flex-wrap: nowrap;
  align-content: center;
}
.region-navigation .block-menu > ul.menu {
  justify-content: center;
  gap: 30px;
}
.region-navigation .block-menu > ul.menu li {
  position: relative;
  padding-bottom: 12px;
}
.region-navigation .block-menu .menu-item--collapsed {
  list-style-image: none;
  list-style-type: none;
}

ul.menu li.menu-item--expanded {
  list-style: none;
  list-style-image: none;
  list-style-type: none;
}

#block-however-main-menu > ul.menu > li.menu-item--expanded > ul {
  display: none;
  position: absolute;
  background: #ffffff;
  z-index: 1000;
  left: -50px;
  top: 22px;
  margin: 0;
  width: 200px;
  -webkit-box-shadow: 2px 1px 8px 0px rgba(85, 85, 85, 0.3);
  -moz-box-shadow: 2px 1px 8px 0px rgba(85, 85, 85, 0.3);
  box-shadow: 2px 1px 8px 0px rgba(85, 85, 85, 0.3);
  padding: 28px;
  box-sizing: border-box;
}
#block-however-main-menu > ul.menu > li.menu-item--expanded > ul li a {
  text-decoration: none;
  margin-bottom: 8px;
  display: inline-block;
}
#block-however-main-menu > ul.menu > li.menu-item--expanded > ul li a:hover {
  text-decoration: underline;
}

#block-however-main-menu > ul.menu > li.menu-item--expanded:hover > ul {
  display: block;
}

.node .resource-links {
  display: flex;
  gap: 16px;
}

.node--view-mode-teaser {
  margin-bottom: 42px;
}

.node .node__submitted {
  font-weight: 600;
  font-size: 14px;
  font-style: italic;
  color: #3a3a3a;
}

.node--view-mode-teaser .node__content h2 a {
  color: #141414;
  text-decoration: none;
}
.node--view-mode-teaser .node__content h2 a:hover {
  text-decoration: underline;
}

.node--view-mode-teaser-card {
  padding: 0;
}
.node--view-mode-teaser-card .node__image, .node--view-mode-teaser-card .node__content {
  padding: 32px 28px;
}
.node--view-mode-teaser-card .node__image {
  border-bottom: 1px solid #515151;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  height: 228px;
}
.node--view-mode-teaser-card .node__image .field--name-field-image {
  text-align: center;
}
.node--view-mode-teaser-card .node__image .field--name-field-image img {
  height: 100%;
  width: auto;
}
.node--view-mode-teaser-card .node__content h2 {
  margin-top: 0;
  font-size: 20px;
}
.node--view-mode-teaser-card .node__content h2 a {
  color: #092C74;
  text-decoration: none;
}
.node--view-mode-teaser-card .node__content h2 a:hover {
  text-decoration: underline;
}

.node--type-research-database.node--view-mode-teaser-card {
  position: relative;
  padding: 0;
  height: 100%;
}
.node--type-research-database.node--view-mode-teaser-card .field--name-field-resource-category .field__item a {
  background: #141414;
  color: #ffffff;
  display: inline-block;
  position: absolute;
  top: -1px;
  left: -1px;
  border-radius: 4px 0 4px 0;
  padding: 6px 14px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
}
.node--type-research-database.node--view-mode-teaser-card .field--name-field-resource-category .field__item a:hover {
  background: #333333;
  text-decoration: none;
}
.node--type-research-database.node--view-mode-teaser-card .field--name-field-resource-category .field__item:not(:first-of-type) {
  display: none;
}
.node--type-research-database.node--view-mode-teaser-card .node__content {
  padding: 32px 28px 16px 28px;
}

.node--type-research-database.node--view-mode-teaser {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  gap: 22px;
  flex-direction: column-reverse;
  border: 1px solid #515151;
  border-radius: 4px;
  padding: 22px;
}
@media all and (min-width: 481px) {
  .node--type-research-database.node--view-mode-teaser {
    border: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
  }
}
.node--type-research-database.node--view-mode-teaser .node__image {
  max-width: 216px;
  text-align: center;
  margin: 0 auto;
}
@media all and (min-width: 481px) {
  .node--type-research-database.node--view-mode-teaser .node__image {
    margin: 0 0 0 22px;
  }
  .node--type-research-database.node--view-mode-teaser .node__image img {
    max-width: 180px;
  }
}
.node--type-research-database.node--view-mode-teaser h2 {
  margin-bottom: 6px;
  margin-top: 0;
}
.node--type-research-database.node--view-mode-teaser .field--name-body p {
  margin: 0;
}
.node--type-research-database.node--view-mode-teaser .resource-links {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
  margin: 8px 0;
}
.node--type-research-database.node--view-mode-teaser .field--name-field-resource-category {
  display: flex;
  gap: 12px;
}
.node--type-research-database.node--view-mode-teaser .field--name-field-resource-category .field__item a {
  font-size: 12px;
  font-weight: 600;
  color: #141414;
  text-decoration: none;
}
.node--type-research-database.node--view-mode-teaser .field--name-field-resource-category .field__item a:hover {
  text-decoration: underline;
}

.node--type-download-streaming-service.node--view-mode-full .field--name-field-resource-category .field__item {
  font-weight: 700;
  color: #2e2e2e;
  font-style: italic;
  margin: 12px 0;
}
.node--type-download-streaming-service.node--view-mode-full .field--name-field-app-store-url {
  float: left;
  margin-right: 12px;
}
.node--type-download-streaming-service.node--view-mode-full .field--name-field-downloadable-link {
  margin: 12px 0;
}

.node--type-download-streaming-service.node--view-mode-teaser-card {
  max-width: 400px;
}
.node--type-download-streaming-service.node--view-mode-teaser-card .field--name-field-resource-category {
  margin-bottom: 8px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 12px;
  row-gap: 2px;
}
.node--type-download-streaming-service.node--view-mode-teaser-card .field--name-field-resource-category a {
  color: #666666;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.5px;
}
.node--type-download-streaming-service.node--view-mode-teaser-card .field--name-field-resource-category a:hover {
  text-decoration: underline;
}
.node--type-download-streaming-service.node--view-mode-teaser-card .field--name-field-resource-category a:before {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  float: left;
  position: relative;
  top: 3px;
  margin-right: 2px;
}
.node--type-download-streaming-service.node--view-mode-teaser-card .field--name-field-resource-category a.tid-13:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23666666' d='M17 10.5V7c0-.55-.45-1-1-1H4c-.55 0-1 .45-1 1v10c0 .55.45 1 1 1h12c.55 0 1-.45 1-1v-3.5l4 4v-11l-4 4z'/%3E%3C/svg%3E");
}
.node--type-download-streaming-service.node--view-mode-teaser-card .field--name-field-resource-category a.tid-14:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23666666' d='M18 0H6C4.34 0 3 1.34 3 3v18c0 1.66 1.34 3 3 3h12c1.66 0 3-1.34 3-3V3c0-1.66-1.34-3-3-3zm-4 22h-4v-1h4v1zm5.25-3H4.75V3h14.5v16z'/%3E%3C/svg%3E");
}
.node--type-download-streaming-service.node--view-mode-teaser-card .field--name-field-resource-category a.tid-15:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23666666' d='M12 1c-4.97 0-9 4.03-9 9v7c0 1.66 1.34 3 3 3h3v-8H5v-2c0-3.87 3.13-7 7-7s7 3.13 7 7v2h-4v8h3c1.66 0 3-1.34 3-3v-7c0-4.97-4.03-9-9-9z'/%3E%3C/svg%3E");
}
.node--type-download-streaming-service.node--view-mode-teaser-card .field--name-field-resource-category a.tid-16:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23666666' d='M12 3v10.55c-.59-.34-1.27-.55-2-.55-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4V7h4V3h-6z'/%3E%3C/svg%3E");
}
.node--type-download-streaming-service.node--view-mode-teaser-card .field--name-field-resource-category a.tid-17:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23666666' d='M13 12h7v1.5h-7zm0-2.5h7V11h-7zm0 5h7V16h-7zM21 4H3c-1.1 0-2 .9-2 2v13c0 1.1.9 2 2 2h18c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 15h-9V6h9v13z'/%3E%3C/svg%3E");
}
.node--type-download-streaming-service.node--view-mode-teaser-card .resource-links {
  margin: 12px 0;
  gap: 12px;
  flex-wrap: wrap;
  align-items: center;
}
.node--type-download-streaming-service.node--view-mode-teaser-card .resource-links .field img {
  max-width: 90px;
}
.node--type-download-streaming-service.node--view-mode-teaser-card .field--name-field-downloadable-link a {
  color: #092C74;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
}
.node--type-download-streaming-service.node--view-mode-teaser-card .field--name-field-downloadable-link a:hover {
  text-decoration: underline;
}
.node--type-download-streaming-service.node--view-mode-teaser-card .more {
  margin: 8px 0;
}
.node--type-article .node__submitted {
  margin-bottom: 1em;
}
.node--type-article .field--name-field-image {
  text-align: center;
}
@media all and (min-width: 768px) {
  .node--type-article .field--name-field-image {
    float: right;
    margin: 0 0 16px 16px;
    max-width: 50%;
  }
}

.node--type-article.node--view-mode-teaser {
  display: flex;
  flex-direction: column;
  column-gap: 22px;
}
.node--type-article.node--view-mode-teaser .node__image {
  text-align: center;
  width: 100%;
}
.node--type-article.node--view-mode-teaser .node__content h2 {
  margin: 0 0 0.5em 0;
}
.node--type-article.node--view-mode-teaser .node__content .field-name-body .field-item p:first-of-type {
  margin-top: 0.5em;
}
@media all and (min-width: 768px) {
  .node--type-article.node--view-mode-teaser {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
  }
  .node--type-article.node--view-mode-teaser .node__image {
    width: calc(25% - 11px);
  }
  .node--type-article.node--view-mode-teaser .node__content {
    width: calc(75% - 11px);
  }
}

.node--type-board-meeting-files.node--view-mode-teaser {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
}
.node--type-board-meeting-files.node--view-mode-teaser h4 {
  margin-bottom: 4px;
  margin: 0;
}
.node--type-board-meeting-files.node--view-mode-teaser h4:after {
  content: ":";
}
.node--type-board-meeting-files.node--view-mode-teaser .node__content {
  display: flex;
}
.node--type-board-meeting-files.node--view-mode-teaser .node__content > div:not(:last-of-type) {
  margin-right: 12px;
  padding-right: 12px;
  border-right: 1px solid #141414;
}

.block-views-blockresource-databases-block-2 > h2 {
  text-align: center;
}

.view-resource-databases.view-display-id-block_2 .slick-track {
  display: flex;
}

.view-resource-databases.view-display-id-block_2 .slick-slider .views-row {
  padding: 0 12px;
  display: flex;
  height: auto;
}

.view-download-streaming-services .view-content {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.view-download-streaming-services .view-content .views-row {
  max-width: 100%;
}
.view-download-streaming-services .view-content .views-row article {
  height: 100%;
}

/*# sourceMappingURL=styles.css.map */
