@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Urbanist:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600;1,700;1,900&display=swap");
body {
  font-family: "Urbanist", sans-serif;
  font-weight: 400;
  color: #333333;
  font-size: 16px;
}

h1, .block-inline-blockcontent-carousel h2 {
  font-size: 22px;
  font-weight: 700;
}
@media all and (min-width: 768px) {
  h1, .block-inline-blockcontent-carousel h2 {
    font-size: 30px;
  }
}
@media all and (min-width: 1024px) {
  h1, .block-inline-blockcontent-carousel h2 {
    font-size: 36px;
  }
  h1.page-title, .block-inline-blockcontent-carousel h2.page-title {
    font-size: 54px;
    magin-top: 0;
  }
}
h1 a, .block-inline-blockcontent-carousel h2 a {
  text-decoration: none;
  color: #333333;
}

h2, .field--name-field-person-bio .field--name-field-person {
  font-size: 18px;
  font-weight: 700;
}
h2 a, .field--name-field-person-bio .field--name-field-person a {
  text-decoration: none;
  color: #9E2727;
}
@media all and (min-width: 768px) {
  h2, .field--name-field-person-bio .field--name-field-person {
    font-size: 20px;
  }
}
@media all and (min-width: 1024px) {
  h2, .field--name-field-person-bio .field--name-field-person {
    font-size: 24px;
  }
}

h3 {
  font-weight: 700;
  font-size: 18px;
}

h4 {
  font-size: 14px;
  font-weight: 900;
}

a, a:link, a:visited, a:focus {
  color: #9E2727;
}
a:hover, a:link:hover, a:visited:hover, a:focus:hover {
  text-decoration: none;
}

p {
  line-height: 1.6;
}

.full-width, .star-pattern-background {
  width: 100vw;
  position: relative;
  margin-left: -50vw !important;
  left: 50%;
}

.star-pattern-background {
  background: url("/themes/custom/ufl/assets/images/star-pattern--yellow.png");
  background-size: 132px;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

a.more {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
}
a.more:after {
  content: "⇨";
  display: inline-block;
  margin-left: 8px;
  font-size: 18px;
  position: absolute;
  top: -6px;
}
a.more:hover {
  text-decoration: underline;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

* {
  box-sizing: border-box;
}

#page-main {
  margin-top: 12px;
  margin-bottom: 22px;
}
@media all and (min-width: 768px) {
  #page-main {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}

.has-banner #page-main {
  margin-top: 24px;
}

.path-frontpage #page-main {
  margin-bottom: 0;
}

.layout {
  margin-bottom: 48px;
}
@media all and (min-width: 768px) {
  .layout {
    margin-bottom: 96px;
  }
}
.layout:last-of-type {
  margin-bottom: 0;
}

.layout:last-of-type {
  margin-bottom: 0;
}

.has-sidebar .layout-sidebar-second {
  margin-top: 42px;
}
@media all and (min-width: 768px) {
  .has-sidebar .layout-content {
    float: right;
    width: 66.666666666%;
  }
  .has-sidebar .layout-sidebar {
    float: left;
    width: 33.33333333%;
    padding-right: 60px;
    margin-top: 0;
  }
}

@media screen and (min-width: 40em) {
  .layout--twocol-section .layout__region {
    box-sizing: border-box;
  }
  .layout--twocol-section .layout__region--first {
    padding-right: 30px;
  }
  .layout--twocol-section .layout__region--second {
    padding-left: 30px;
  }

  .layout--threecol-section {
    margin-left: -30px;
    margin-right: -30px;
  }
  .layout--threecol-section .layout__region {
    box-sizing: border-box;
  }
  .layout--threecol-section > .layout__region--first,
.layout--threecol-section > .layout__region--second,
.layout--threecol-section > .layout__region--third {
    padding: 0 30px;
  }

  .layout--threecol-section--33-34-33 > .layout__region--first,
.layout--threecol-section--33-34-33 > .layout__region--second,
.layout--threecol-section--33-34-33 > .layout__region--third {
    flex: 0 1 33.333333%;
  }

  .layout--threecol-section--25-25-50 > .layout__region--second,
.layout--threecol-section--25-25-50 > .layout__region--first {
    flex: 0 1 28%;
  }

  .layout--threecol-section--25-25-50 > .layout__region--third {
    flex: 0 1 44%;
  }
}
.path-frontpage .layout--threecol-section {
  align-items: center;
}

.layout--onecol.card-grid .layout__region,
.path-frontpage .layout.card-grid .layout__region--first,
.has-sidebar .layout--onecol.card-grid .layout__region {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 6px;
}
.layout--onecol.card-grid .layout__region .block,
.path-frontpage .layout.card-grid .layout__region--first .block,
.has-sidebar .layout--onecol.card-grid .layout__region .block {
  width: 100%;
}
@media all and (min-width: 480px) {
  .layout--onecol.card-grid .layout__region,
.path-frontpage .layout.card-grid .layout__region--first,
.has-sidebar .layout--onecol.card-grid .layout__region {
    flex-direction: row;
    gap: 30px;
  }
  .layout--onecol.card-grid .layout__region .block,
.path-frontpage .layout.card-grid .layout__region--first .block,
.has-sidebar .layout--onecol.card-grid .layout__region .block {
    width: calc(33.333333% - 15px);
  }
}

@media all and (min-width: 480px) {
  .path-frontpage .layout.card-grid .layout__region--first .block,
.has-sidebar .layout--onecol.card-grid .layout__region .block {
    width: calc(50% - 15px);
  }
}

.layout-container, .region-navigation .block-menu > ul.menu {
  width: 94%;
  margin: 0 auto;
  max-width: 1060px;
}

@media all and (min-width: 960px) {
  .layout-container, .region-navigation .block-menu > ul.menu {
    width: 96%;
  }
}
body {
  background-color: transparent !important;
}

.main-content-wrapper {
  position: relative;
}

#block-however-page-title {
  text-align: center;
}

#block-however-branding {
  max-width: 200px;
}

#block-how2logo {
  text-align: center;
}

.block-inline-blockimage-carousel {
  max-width: 92%;
  margin: 0 auto;
}
@media all and (min-width: 40em) {
  .block-inline-blockimage-carousel {
    max-width: 100%;
  }
}

.block-inline-blockimage-carousel .media--type-image {
  padding: 8px;
}
.block-inline-blockimage-carousel .media--type-image img {
  -webkit-box-shadow: 2px 1px 8px 0px rgba(85, 85, 85, 0.3);
  -moz-box-shadow: 2px 1px 8px 0px rgba(85, 85, 85, 0.3);
  box-shadow: 2px 1px 8px 0px rgba(85, 85, 85, 0.3);
}
.block-inline-blockimage-carousel .media--type-image .field--name-field-caption {
  margin-top: 6px;
}

.block.journal-teaser {
  text-align: center;
  max-width: 78%;
  margin: 24px auto;
}
@media all and (min-width: 40em) {
  .block.journal-teaser {
    max-width: 100%;
    margin: 0;
  }
}
.block.journal-teaser .journal-logo {
  margin: 12px 0 0 0;
}
.block.journal-teaser .journal-logo img {
  height: 28px;
  width: auto;
}
.block.journal-teaser p {
  margin: 8px 0;
}
.block.journal-teaser a.link {
  color: #333333;
  font-size: 14px;
}

.block#about-site {
  text-align: justify;
}
.block#about-site h2 {
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  font-size: 16px;
  margin: 6px 0;
}
.block#about-site h2:before, .block#about-site h2:after {
  position: absolute;
  top: calc(50% - .5px);
  width: 18%;
  content: "";
  border: 0.625px solid #333333;
}
.block#about-site h2:before {
  left: 0;
}
.block#about-site h2:after {
  right: 0;
}
.block#about-site p {
  margin: 0;
}

.block.ad-block {
  padding: 36px 48px;
  border: 1px solid #434343;
  box-shadow: 4px 4px 0 0 #000000;
  margin-bottom: 24px;
}
@media all and (min-width: 40em) {
  .block.ad-block {
    margin-bottom: 0;
  }
}
.block.ad-block.scholarship {
  background: #FDF8E3;
}
.block.ad-block.about {
  background: #EED7D7;
}
.block.ad-block .field--name-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.block.ad-block .field--name-body .content p {
  line-height: 1.25;
}
.block.ad-block .field--name-body .cta {
  width: 140px;
  text-align: right;
  flex: 0 0 142px;
}
.block.ad-block h3 {
  margin: 0;
}
.block.ad-block p {
  margin: 0;
}

.block-inline-blockcontent-carousel {
  max-width: 85%;
  margin: 0 auto;
}
@media all and (min-width: 40em) {
  .block-inline-blockcontent-carousel {
    max-width: 100%;
    margin: 0;
  }
}
.block-inline-blockcontent-carousel h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 12px;
}
.block-inline-blockcontent-carousel .field--name-field-content-embed {
  margin-left: -15px;
  margin-right: -15px;
}
.block-inline-blockcontent-carousel .field--name-field-content-embed .field__item.slick-slide {
  margin: 0 15px;
}

a.button {
  background: #FFFCFC;
  border: 1px solid #9E4242;
  font-size: 12px;
  color: #9E2727;
  letter-spacing: 0.43px;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  padding: 14px 30px;
}
a.button:hover {
  background: #ffe8e8;
}

.block-card, .card, .node--type-how2-issue.node--view-mode-teaser, .node--view-mode-teaser-card {
  padding: 36px 24px;
  border: 1px solid #515151;
  box-sizing: border-box;
}
.block-card h2, .card h2, .node--type-how2-issue.node--view-mode-teaser h2, .node--view-mode-teaser-card h2 {
  font-size: 24px;
}

.field--name-field-volume-reference a,
.field--name-field-issue-reference a,
.journal-name a {
  font-weight: bold;
  text-decoration: none;
  color: #333333;
}
.field--name-field-volume-reference a:hover,
.field--name-field-issue-reference a:hover,
.journal-name a:hover {
  text-decoration: underline;
}

.field--name-field-tags {
  margin: 18px 0;
}
.field--name-field-tags .field__items {
  display: flex;
  gap: 12px;
}
.field--name-field-tags .field__items .field__item a {
  color: #333333;
  text-decoration: none;
  background: #FBF2CE;
  padding: 3px 16px;
  border-radius: 14px;
}

.field--name-field-how-2-sections {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 1em;
  -moz-column-gap: 1em;
  column-gap: 1em;
  margin: 1.5em 0;
  padding: 0;
  -moz-column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  column-gap: 1.5em;
}
.field--name-field-how-2-sections > .field__item {
  display: inline-block;
  width: 100%;
  margin-bottom: 18px;
  box-sizing: border-box;
}

.field--name-field-archive-url a {
  font-weight: 600;
  color: #333333;
  text-decoration: none;
}
.field--name-field-archive-url a:hover {
  text-decoration: underline;
}

.field--name-field-caption p {
  text-align: center;
  margin-top: 0;
  color: #424242;
  font-size: 12px;
}

.field--name-field-person-bio {
  margin-top: 54px;
  padding: 36px 0;
  border-top: 3px solid #909090;
  border-bottom: 3px solid #909090;
}
.field--name-field-person-bio .headshot {
  margin: 0 0 20px 0;
}
@media all and (min-width: 768px) {
  .field--name-field-person-bio .headshot {
    max-width: 200px;
    float: left;
    margin: 0 30px 0 0;
  }
}
.field--name-field-person-bio .field--name-field-override-role {
  font-weight: 700;
}

#page-footer {
  border-top: 4px solid #333333;
  background: #FFFCF0;
  padding: 42px 0;
  margin-top: 96px;
}

#page-footer .block-menu {
  margin-bottom: 36px;
}

#block-footerbottom .field--name-body {
  display: flex;
  gap: 18px;
}
#block-footerbottom .field--name-body p {
  margin: 0;
}

input[type=text],
input[type=password],
input[type=search],
input[type=address],
input[type=email],
input[type=url],
input[type=tel] {
  height: 34px;
  border: 1px solid #444444;
  padding: 0 16px;
  color: #333333;
  box-sizing: border-box;
}
input[type=text]::placeholder,
input[type=password]::placeholder,
input[type=search]::placeholder,
input[type=address]::placeholder,
input[type=email]::placeholder,
input[type=url]::placeholder,
input[type=tel]::placeholder {
  color: #333333;
}

.webform-submission-form .form-item {
  margin-bottom: 6px;
}

.form-item > label {
  display: block;
  font-weight: 700;
}

#page-header {
  background: #FDFDFD;
  border-bottom: 4px solid #333333;
  margin-bottom: 54px;
}

#page-header .layout-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.region-navigation {
  display: none;
}
@media all and (min-width: 960px) {
  .region-navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .region-navigation .block-menu {
    flex-grow: 1;
  }
  .region-navigation .block.views-exposed-form {
    flex-shrink: 1;
  }
}

img {
  max-width: 100%;
  height: auto;
}

nav ul.menu {
  margin: 0;
  display: flex;
}
nav ul.menu ul.menu {
  display: block;
}

.region-navigation {
  flex-grow: 1;
}

.region-navigation .block-menu {
  flex-wrap: nowrap;
}
.region-navigation .block-menu > ul.menu {
  justify-content: flex-end;
  gap: 30px;
}
.region-navigation .block-menu > ul.menu li {
  position: relative;
  padding-bottom: 12px;
  top: 6px;
}
.region-navigation .block-menu > ul.menu li a {
  color: #333333;
  font-weight: bold;
  text-decoration: none;
}
.region-navigation .block-menu > ul.menu li a:hover, .region-navigation .block-menu > ul.menu li a.active, .region-navigation .block-menu > ul.menu li a.active-trail {
  text-decoration: underline;
}
.region-navigation .block-menu .menu-item--collapsed {
  list-style-image: none;
  list-style-type: none;
}

ul.menu li.menu-item--expanded {
  list-style: none;
  list-style-image: none;
  list-style-type: none;
}

#block-however-main-menu > ul.menu > li.menu-item--expanded > ul {
  display: none;
  position: absolute;
  background: #ffffff;
  z-index: 1000;
  left: -50px;
  top: 22px;
  margin: 0;
  width: 200px;
  -webkit-box-shadow: 2px 1px 8px 0px rgba(85, 85, 85, 0.3);
  -moz-box-shadow: 2px 1px 8px 0px rgba(85, 85, 85, 0.3);
  box-shadow: 2px 1px 8px 0px rgba(85, 85, 85, 0.3);
  padding: 28px;
  box-sizing: border-box;
}
#block-however-main-menu > ul.menu > li.menu-item--expanded > ul li a {
  text-decoration: none;
  margin-bottom: 8px;
  display: inline-block;
}
#block-however-main-menu > ul.menu > li.menu-item--expanded > ul li a:hover {
  text-decoration: underline;
}

#block-however-main-menu > ul.menu > li.menu-item--expanded:hover > ul {
  display: block;
}

#page-footer .block-menu ul.menu {
  gap: 32px;
  margin: 0;
  padding: 0;
}
#page-footer .block-menu ul.menu li {
  margin: 0;
  padding: 0;
}
#page-footer .block-menu ul.menu li a {
  color: #333333;
  font-weight: bold;
  text-decoration: none;
}
#page-footer .block-menu ul.menu li a:hover {
  text-decoration: underline;
}

.node .issue-meta {
  display: flex;
  margin: 18px 0;
  font-weight: 700;
  justify-content: space-between;
  flex-wrap: wrap;
}
.node .issue-meta .left {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}
.node .issue-meta .left > div:not(:last-of-type)::after {
  content: "";
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-left: 12px;
}
.node .issue-meta a {
  color: #333333;
  text-decoration: none;
}
.node .issue-meta a:hover {
  text-decoration: underline;
}
.node.node--view-mode-full > .issue-meta {
  border-top: 1px solid #919191;
  border-bottom: 1px solid #919191;
  padding: 18px 0;
  margin: 54px 0 62px 0 !important;
}

.node--view-mode-search-result {
  margin-bottom: 54px;
}
.node--view-mode-search-result h2 {
  margin-bottom: 8px;
}
.node--view-mode-search-result .article__meta .issue-meta {
  border: none;
  padding: 0;
  margin-top: 0;
}
.node--view-mode-search-result .field--name-field-person:before {
  content: "by";
  font-style: italic;
  margin-right: 4px;
}

.node--view-mode-teaser-card > h2 {
  font-size: 16px;
  border-bottom: 1px solid #979797;
  padding-bottom: 12px;
  text-align: center;
}
.node--view-mode-teaser-card > h2 a {
  color: #333333;
}
.node--view-mode-teaser-card .field--name-field-image-caption {
  text-align: center;
  margin-top: -12px;
}
.node--view-mode-teaser-card .field--name-field-subtitle {
  text-align: center;
}

.node--view-mode-cross-post-teaser-card {
  padding: 0;
  text-align: center;
}
.node--view-mode-cross-post-teaser-card > .image-top {
  position: relative;
  min-height: 24px;
}
.node--view-mode-cross-post-teaser-card > .image-top .content-type {
  position: absolute;
  left: 0;
  top: 0;
  background: #171717;
  color: #ffffff;
  padding: 2px 12px;
  border-radius: 0 0 4px 0;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
}
.node--view-mode-cross-post-teaser-card > .image-top .volume-issue {
  position: absolute;
  right: 10px;
  bottom: -24px;
  background: #171717;
  color: #ffffff;
  line-height: 1;
  font-size: 14px;
  padding: 12px;
  border-radius: 28px;
}
.node--view-mode-cross-post-teaser-card > .image-top img {
  display: inline-block;
}
.node--view-mode-cross-post-teaser-card > .image-top .field--name-field-caption {
  display: none;
}
.node--view-mode-cross-post-teaser-card > .content {
  padding: 8px 24px 36px 24px;
}
.node--view-mode-cross-post-teaser-card > .content .journal-logo img {
  display: inline-block;
}
.node--view-mode-cross-post-teaser-card > .content .pub-date {
  font-size: 12px;
}
.node--view-mode-cross-post-teaser-card > .content h3 {
  margin: 10px;
  line-height: 1.125;
}
.node--view-mode-cross-post-teaser-card > .content h3 a {
  color: #333333;
  text-decoration: none;
}
.node--view-mode-cross-post-teaser-card > .content h3 a:hover {
  text-decoration: underline;
}

@media all and (min-width: 960px) {
  .issue-top-content {
    display: flex;
    justify-content: center;
    gap: 36px;
    align-items: center;
    max-width: 92%;
    margin: 0 auto;
  }
  .issue-top-content .image {
    width: 25%;
  }
  .issue-top-content .issue-title-meta {
    width: calc(75% - 36px);
  }
}

.node--type-how2-issue.node--view-mode-full #masthead {
  display: none;
}

.node--type-how2-volume .field--name-field-archive-url {
  margin-bottom: 2em;
  text-align: center;
}
.node--type-how2-volume .field--name-field-how2-issue {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.node--type-how2-volume .field--name-field-how2-issue > .field__item {
  min-width: 280px;
}
.node--type-how2-volume .field--name-field-how2-issue > .field__item > article {
  height: 100%;
}
@media all and (min-width: 480px) {
  .node--type-how2-volume .field--name-field-how2-issue {
    flex-direction: row;
  }
  .node--type-how2-volume .field--name-field-how2-issue > .field__item {
    width: calc(50% - 30px);
  }
}
@media all and (min-width: 768px) {
  .node--type-how2-volume .field--name-field-how2-issue > .field__item {
    width: calc(33% - 30px);
  }
}
@media all and (min-width: 1024px) {
  .node--type-how2-volume .field--name-field-how2-issue > .field__item {
    width: calc(25% - 30px);
  }
}

.node--type-how2-issue.node--view-mode-teaser {
  padding: 0;
}
.node--type-how2-issue.node--view-mode-teaser .field--name-field-cover-thumbnail {
  background: #FFFCF0;
  text-align: center;
  aspect-ratio: 1/1;
}
.node--type-how2-issue.node--view-mode-teaser .field--name-field-cover-thumbnail img {
  object-fit: cover;
  object-position: center center;
  height: 100%;
  margin-bottom: -4px;
}
.node--type-how2-issue.node--view-mode-teaser .node__content {
  padding: 32px 24px;
  text-align: center;
  position: relative;
}
.node--type-how2-issue.node--view-mode-teaser .field--name-field-issue-number {
  display: inline-block;
  background: #2E2E2E;
  font-size: 48px;
  color: #ffffff;
  font-weight: 700;
  border-radius: 30px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  position: absolute;
  top: -38px;
  left: 40%;
  right: 40%;
}
.node--type-how2-issue.node--view-mode-teaser .issue-meta {
  justify-content: center;
  font-weight: normal;
}
.node--type-how2-issue.node--view-mode-teaser h2 {
  font-size: 18px;
  margin-bottom: 0;
}
.node--type-how2-issue.node--view-mode-teaser h2 a {
  color: #333333;
}
.node--type-how2-issue.node--view-mode-teaser h2 a:hover {
  text-decoration: underline;
}

.node--type-how2-section.node--view-mode-full .node__content {
  max-width: 748px;
  margin: 0 auto;
}
.node--type-how2-section.node--view-mode-full .field--name-field-image-caption {
  float: right;
  width: 40%;
  max-width: 300px;
  margin: 0 0 24px 48px;
}
.node--type-how2-section.node--view-mode-full .field--name-field-how2-piece {
  margin-bottom: 54px;
}
.node--type-how2-section.node--view-mode-full .field--name-field-how2-piece .paragraph--type--how2-section-links {
  margin-bottom: 22px;
  font-family: "Libre Caslon Text", serif;
}
.node--type-how2-section.node--view-mode-full .field--name-field-how2-piece .paragraph--type--how2-section-links p {
  line-height: 1.8;
}

.node--type-how2-article .view-article-section {
  text-align: center;
}
.node--type-how2-article .node__content {
  max-width: 748px;
  margin: 0 auto;
}
.node--type-how2-article .field--name-body {
  font-family: "Libre Caslon Text", serif;
}
.node--type-how2-article .field--name-body p {
  line-height: 1.8;
}

.paragraph--type--person-bio.paragraph--view-mode--name-only {
  display: inline;
}

#views-exposed-form-search-results-page-1 {
  margin-left: 16px;
}
#views-exposed-form-search-results-page-1 .form--inline {
  display: flex;
  align-items: center;
}
#views-exposed-form-search-results-page-1 .form--inline .form-item {
  margin: 0;
}
#views-exposed-form-search-results-page-1 .form-type-textfield label {
  display: none;
  visibility: hidden;
}
#views-exposed-form-search-results-page-1 input.form-submit {
  border: none;
  background-color: none;
  appearance: none;
  text-indent: -1000em;
  width: 36px;
  height: 36px;
  background-position: center center;
  background-size: cover;
  background-color: transparent;
  position: relative;
  left: 4px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3C/svg%3E");
}

.block-facets {
  margin-bottom: 16px;
}

.block-facets > h2 {
  font-size: 16px;
  margin: 0 0 6px 0;
}

.facets-widget-links ul {
  padding: 0;
  margin: 0 0 6px 0;
  list-style-position: inside;
}

.facets-widget-links li.facet-item a {
  color: #333333;
  text-decoration: none;
}
.facets-widget-links li.facet-item a:hover {
  text-decoration: underline;
}

.view-search-results .views-row:first-of-type article h2 {
  margin-top: 0;
}

* {
  min-height: 0;
  min-width: 0;
}

.slick-arrow {
  text-indent: -1000px;
  font-size: 0;
  line-height: 0;
  background: transparent;
  border: none;
  position: absolute;
  top: 50%;
}
.slick-arrow:before {
  background-image: none;
  display: block;
  content: "";
  width: 38px;
  height: 38px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.slick-arrow.slick-prev {
  left: -20px;
}
@media all and (min-width: 768px) {
  .slick-arrow.slick-prev {
    left: -30px;
  }
}
.slick-arrow.slick-prev:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z'/%3E%3C/svg%3E");
  content: "";
}
.slick-arrow.slick-next {
  right: -3px;
}
@media all and (min-width: 768px) {
  .slick-arrow.slick-next {
    right: -12px;
  }
}
.slick-arrow.slick-next:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z'/%3E%3C/svg%3E");
  content: "";
}

.block-views-blockresource-databases-block-2 > h2 {
  text-align: center;
}

.view-resource-databases.view-display-id-block_2 .slick-track {
  display: flex;
}

.view-resource-databases.view-display-id-block_2 .slick-slider .views-row {
  padding: 0 12px;
  display: flex;
  height: auto;
}

.view-download-streaming-services .view-content {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.view-download-streaming-services .view-content .views-row {
  max-width: 100%;
}
.view-download-streaming-services .view-content .views-row article {
  height: 100%;
}

/*# sourceMappingURL=styles.css.map */
