@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Urbanist:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600;1,700;1,900&display=swap');
@import "variables";


body {
  font-family: $base-font;
  font-weight: 400;
  color: $text-color;
  font-size: 16px;
}

// 54, 36, 24, 16

h1, %h1 {
  font-size: 22px;
  font-weight: 700;
  @media all and (min-width: 768px) {
    font-size: 30px;
  }
  @media all and (min-width: 1024px) {
    font-size: 36px;
    &.page-title {
      font-size: 54px;
      magin-top: 0;
    }
  }
  a {
    text-decoration: none;
    color: $text-color;
  }
}

h2, %h2 {
  font-size: 18px;
  font-weight: 700;
  a {
    text-decoration: none;
    color: $red;
  }
  @media all and (min-width: 768px) {
    font-size: 20px;
  }
  @media all and (min-width: 1024px) {
    font-size: 24px;
  }
}

h3, %h3 {
  font-weight: 700;
  font-size: 18px;
}

h4, %h4 {
  font-size: 14px;
  font-weight: 900;
}

a, a:link, a:visited, a:focus {
  color: $red;
  &:hover {
    text-decoration: none;
  }
}

p {
  line-height: 1.6;
}