#header {
    background-color: #f7f7f7 !important;
    background-image: none !important;
}

.region-header, .region-header a, .region-header li a.is-active, .region-header .site-branding__text, .region-header .site-branding, .region-header .site-branding__text a, .region-header .site-branding a, .region-secondary-menu .menu-item a, .region-secondary-menu .menu-item a.is-active {
    color: #111111 !important;
}

iframe.pdf {
    aspect-ratio: 8.5 / 12;
}